body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.header {
  color: #e7e9fc;
  background: var(--WHITE, #fff);
}

/* Navigation-end-contact */
.header-item {
  font-family: Raleway, sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.item-logo {
  color: #2e2f42;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
}

.item {
  color: #2e2f42;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.item:hover {
  color: #404bbf;
}
.item:focus {
  color: #404bbf;
}
.item:active {
  color: #404bbf;
}
.adres {
  font-style: normal;
}
.link {
  color: var(--SLATE, #434455);

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.link:hover {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}

/* section 1 */
.fon {
  background: var(--NAVY-BLUE, #2e2f42);
}
.title {
  color: var(--WHITE, #fff);
  text-align: center;

  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}
.cnopca {
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.cnopca:hover {
  border-radius: 4px;
  background: var(--OCEAN, #404bbf);
}
.cnopca:focus {
  background-color: #404bbf;
}
.inscription {
  color: var(--WHITE, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}

/* section 2 */

.content {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.text {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* section 3 */
.fonfoto {
  background: var(--CLOUD, #f4f4fd);
}
.team {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.user {
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
}
.user-img {
  background: url(<path-to-image>),
    lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;
}
.user-img:hover {
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
}
.user-name {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.profession {
  color: var(--SLATE, #434455);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* section 4 */
.project-card {
  background: #fff;
}
.section-logo {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  line-height: 1.5;
  font-weight: 700;
  text-transform: capitalize;
}
.portfolio {
  background: #fff;
}
.portfolio-img {
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
}
.gallery-item {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  line-height: 1.2;
}
.epp {
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
  letter-spacing: 0.02em;
}

/* Futer */
.footer {
  background: var(--NAVY-BLUE, #2e2f42);
}
.lod {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.lodg {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.para {
  color: var(--CLOUD, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
